body {
    background-color: aliceblue;
}

/* Titre */
@font-face {
    font-family: 'roca-one';
    src: url('fonts/roca/RocaOne-Rg.ttf') format('truetype'); /* Ajustez le chemin et le format (.otf = 'opentype') */
    font-weight: normal;
    font-style: normal;
}

/* Paragraphe */
@font-face {
    font-family: 'montserrat';
    src: url('fonts/static/Montserrat-Medium.ttf') format('truetype'); /* Ajustez le chemin et le format (.otf = 'opentype') */
    font-weight: normal;
    font-style: normal;
}

/* Titre */
h1 {
    font-family: 'roca-one'; /* police */
    font-size: 96px;         /* taille police */
    font-weight: 600;        /* % gras */
    text-align: center;      /* aligné au contre de la page */
    padding: 18px;           /* ecard tout autour */
}

/* Paragraphe */
p {
    font-family: 'montserrat';  /* police */
    font-size: 16px;            /* taille police */
    font-weight: 400;           /* % gras */
}

/* groupe toute les cartes et categories */
.card {
    display: flex;              /* flexible ≠ grid (grille) */
    flex-direction: row;        /* allignement horizontale ≠ column (colonne) */
    justify-content: center;    /* centré le contenu */
    gap: 30px;                  /* espace entre 2 elements */
    padding: 20px;              /* ecard tout autour */
    margin-top: 150px;          /* marge */
}

/* groupe carte hard / safe / categorie*/
.carte-categorie {
    display: flex;
    flex-direction: column; /* Aligne les cartes en haut et le texte "Adulte" en bas */
    align-items: center;
    gap: 50px;
    margin: 75px;
}

/* regroupe hard / safe */
.boite-cartes {
    display: flex;
    flex-direction: row;    /* pour que safe /hard soit horizontal et que cartegorie reste a leurs verticale*/
    gap: 50px;
}

/* Adulte */
.ma-forme-marron-safe p {
    padding: 50px 25px 75px;
    border-radius: 15px;
    background-color: #805225;
    /* Liseré */
    box-shadow: inset 0 0 0 3px black,
                inset 0 0 0 6px #805225,
                inset 0 0 0 9px black;
    
    transform: rotate(-30deg); /* Rotation */

    margin-right: -65px; /*raproché les cartes pour quelles se touche*/

    /*taille texte*/
    font-size: 20px;
    font-weight: 500;
}

.ma-forme-marron-hard p {
    padding: 50px 25px 75px;
    border-radius: 15px;
    background-color: #805225;
    
    /* Liseré */
    box-shadow: inset 0 0 0 3px black,
                inset 0 0 0 6px #805225,
                inset 0 0 0 9px black;
    
    /*Rotation + taille texte*/
    transform: rotate(30deg);
    font-size: 20px;
    font-weight: 500;
}

/* Amour */
.ma-forme-rouge-safe p {
    padding: 50px 25px 75px;
    border-radius: 15px;
    background-color: #FF0004;
    /* Liseré */
    box-shadow: inset 0 0 0 3px black,
                inset 0 0 0 6px #FF0004,
                inset 0 0 0 9px black;
    
    transform: rotate(-30deg); /* Rotation */

    margin-right: -65px; /*raproché les cartes pour quelles se touche*/

    /*taille texte*/
    font-size: 20px;
    font-weight: 500;
}

.ma-forme-rouge-hard p {
    padding: 50px 25px 75px;
    border-radius: 15px;
    background-color: #FF0004;

    /* Liseré */
    box-shadow: inset 0 0 0 3px black,
                inset 0 0 0 6px #FF0004,
                inset 0 0 0 9px black;
    
    /*Rotation + taille texte*/
    transform: rotate(30deg);
    font-size: 20px;
    font-weight: 500;
}

/* Amis */
.ma-forme-jaune-safe p {
    padding: 50px 25px 75px;
    border-radius: 15px;
    background-color: #FFF600;

    /* Liseré */
    box-shadow: inset 0 0 0 3px black,
                inset 0 0 0 6px #FFF600,
                inset 0 0 0 9px black;
    
    transform: rotate(-30deg); /* Rotation */

    margin-right: -65px; /*raproché les cartes pour quelles se touche*/

    /*taille texte*/
    font-size: 20px;
    font-weight: 500;
}

.ma-forme-jaune-hard p {
    padding: 50px 25px 75px;
    border-radius: 15px;
    background-color: #FFF600;

    /* Liseré */
    box-shadow: inset 0 0 0 3px black,
                inset 0 0 0 6px #FFF600,
                inset 0 0 0 9px black;
    
    /*Rotation + taille texte*/
    transform: rotate(30deg);
    font-size: 20px;
    font-weight: 500;
}

/* Soirée */
.ma-forme-violet-safe p {
    padding: 50px 25px 75px;
    border-radius: 15px;
    background-color: #4B2EA4;

    /* Liseré */
    box-shadow: inset 0 0 0 3px black,
                inset 0 0 0 6px #4B2EA4,
                inset 0 0 0 9px black;
    
    transform: rotate(-30deg); /* Rotation */

    margin-right: -65px; /*raproché les cartes pour quelles se touche*/

    /*taille texte*/
    font-size: 20px;
    font-weight: 500;
}

.ma-forme-violet-hard p {
    padding: 50px 25px 75px;
    border-radius: 15px;
    background-color: #4B2EA4;

    /* Liseré */
    box-shadow: inset 0 0 0 3px black,
                inset 0 0 0 6px #4B2EA4,
                inset 0 0 0 9px black;
    
    /*Rotation + taille texte*/
    transform: rotate(30deg);
    font-size: 20px;
    font-weight: 500;
}